<!DOCTYPE html>
<html lang="en">

<%- include ('./statuspartials/head') %>

    <body onload="uptimes()">
        <%- include ('./partials/header') %>
            <main>
                <%- include ('./partials/nodejsservercheck') %>
                    <%- include ('./statuspartials/statistics') %>
                        <%- include ('./statuspartials/virtualservercheck') %>

            </main>
            <%- include ('./partials/footer') %>
    </body>

</html>