<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>
    <body onload="uptimes()">
        <%- include ('./partials/header') %>
            <main>
                <%- include ('./partials/nodejsservercheck') %>
                    <%- include ('./partials/statistics') %>
                        <%- include ('./partials/virtualservercheck') %>
            </main>
            <%- include ('./partials/footer') %>
    </body>

</html>