<section>
<h1> all users listed in database: <%= alluserscount %>
        <br>
        Current registered users: <%= usercount %>
            <br>
            Current recipes: <%= recipecount %>
                <br>
                Current comments: <%= commentcount %>
                    <br>
                    Current images in database: <%= imagecount %>
                        <br>
                        Current recipe ratings: <%= reciperatingcount %>
                            <br>
                            Current comment ratings: <%= commentratingcount %>
</h1>
</section>