<section>
<ul class="big">
<li  class="listings"> All users listed in database: <%= alluserscount %></li>
<li  class="listings"> Current registered users: <%= usercount %></li>
<li  class="listings"> Current recipes: <%= recipecount %></li>
<li  class="listings"> Current comments: <%= commentcount %></li>
<li  class="listings"> Current images in database: <%= imagecount %></li>
<li  class="listings"> Current recipe ratings: <%= reciperatingcount %></li>
<li  class="listings"> Current comment ratings: <%= commentratingcount %></li></ul> 
       
        
           
           
    
                
                    
                    
                       
                       
                            
                           

</section>